# Package manager files
node_modules
npm-debug.log
yarn-error.log

# OSX
.DS_Store

# Build files
lib

# Test files
coverage

######################
# Node
######################
/node/
node_tmp/
node_modules/
npm-debug.log.*
/.awcache/*
/.cache-loader/*

######################
# SASS
######################
.sass-cache/